



.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* header style */
.header{
    background-image: url('../assets/Hero-bg.png');
    width: 1440px;
    height: 652px;
    width: auto;
}
.banner{
    width: 998px;
    height: 581px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.hero-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 26px;
}
.content{
    text-align: center;
}
.content-title{
    font-size: 48px;
    font-weight: 900px;
    color: #0D1321;
}
.content-description{
    font-size: 16px;
    color: #0D1321;
}
.btn-primary{
    background-color: #0D1321;
    padding: 21px 24px;
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
}

/* section style */
.section{
    width: 1140px;
    height: 1393px;
    text-align: center;
    margin-top: 74px;
    margin-bottom: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(2, 44, 128, 0.02);
}
.section-container{
    width: 946px;
    height: 1233px;
    padding-top: 40px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}
.section-header{
    width: 801px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
}
.section-1{
    width: 850px;
    height: 250px;
    background-color: rgba(255, 255, 255, 1);
    gap: 98px;
    padding: 40px 48px;
    margin-top: 32px;
    text-align: left;
    display: block;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    border-radius: 16px;
}
.section-2{
    width: 850px;
    height: 250px;
    background-color: rgba(255, 255, 255, 1);
    padding: 40px 48px;
    margin-top: 32px;
    text-align: left;
    display: block;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    gap: 32px;
    border-radius: 16px;
}
.section-3{
    width: 850px;
    height: 250px;
    background-color: rgba(255, 255, 255, 1);
    gap: 98px;
    padding: 40px 48px;
    margin-top: 32px;
    text-align: left;
    display: block;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    border-radius: 16px;
}
.section-1-container{
    height: 219px;
    width: 477px;

}
.section-title{
    font-size: 32px;
    font-weight: 900;
}
section-description{
    font-size: 16px;
}
.section-1-title{
    font-size: 24px;
    font-weight: bold;
}
.section-1-pic{
    width: 274px;
    height: 240px;
}
.btn-2{
    padding: 12px 20px;
}
.image-2{
}
/* insparation styles */
.inspiration{
    width: 1140px;
    height: 775px;
    background-color: rgba(255, 255, 255, 1);
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 90px;
    margin-bottom: 150px;
}
.video{
    border-radius: 16px;
    margin-top: 32px;
}
.video-border{
    width: 1135px;
    height: 614px;
    border-style: ridge;
    border-radius: 16px;
}
.inspiration-container{
    width: 852px;
    height: 113px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
    /* current target style */
.cards{
    display: flex;
    gap: 24px;
    
}
.card{
    width: 364px;
    height: 299px;
    padding: 40px;
    text-align: left;
    background-color: rgba(255, 76, 30, 0.05)
    ;

}
.current-target{
    width: 1140px;
    height: 560px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 49px;
}
.current-target-container{
    width: 946px;
    height: 113px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 46px;
}
.card-title{
    font-size: 24px;
    font-weight: 900;
}
.card-2{
    background-color: rgba(0, 76, 232, 0.05);
}
.card-3{
    background-color: rgba(255, 223, 0, 0.05);
}